#### Step 0: Import packages and data

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [41]:
df = pd.read_csv('fuel.csv', encoding='latin-1')
df.dimension59.str.lower()
df.dimension60.str.lower()
df.head(1)

,yearMonth,region,dimension51,dimension59,dimension60,dimension53,metric1,mob_or_desk,platform
0,201903,Quebec,not used,honda,civic sedan,''SI'',1.0,Desktop,Desktop

In [42]:
df_topsearch = df[['yearMonth','region','dimension59','dimension60','metric1']].copy()
df_topsearch = df_topsearch[(df_topsearch.dimension59!='not used')&(df_topsearch.dimension60!='not used')].reset_index(drop=True)
df_topsearch['make_model'] =  df_topsearch['dimension59'] + '|' + df_topsearch['dimension60']
df_topsearch.head(1)

   yearMonth  region dimension59  dimension60  metric1         make_model
0     201903  Quebec       honda  civic sedan      1.0  honda|civic sedan

##### Clean up Ram 1500/2500/3500/4500 series

In [52]:
#df_topsearch.to_csv('result.csv',index=False)

In [43]:
ram_1500 = ['ram','1500']
ram_2500 = ['ram','1500']
ram_3500 = ['ram','1500']
ram_4500 = ['ram','1500']
ram_5500 = ['ram','1500']

In [50]:
import re
esc_lst = [re.escape(s) for s in ram_1500]
pattern = '|'.join(esc_lst)
df_topsearch[pd.isnull(df['make_model']) |df_topsearch['make_model'].str.contains(pattern, case=False)]

KeyError: 'make_model'

In [44]:
df_topsearch.loc[df_topsearch.make_model.isin(ram_1500),'']

SyntaxError: unexpected EOF while parsing (<ipython-input-44-361ef20fccf5>, line 1)

#### Top searched vehicles (National)

In [40]:
df_top_national = df_topsearch.groupby("make_model").agg({"metric1":'sum'}).sort_values(by='metric1',ascending=False).reset_index()
df_top_national.head(5)

     make_model    metric1
0    ford|f-150  3125458.0
1   honda|civic  2914352.0
2    honda|cr-v  2334617.0
3  bmw|3 series  1944993.0
4  ford|mustang  1919493.0

In [32]:
df1 = df['make_model'].str.contains("PG")

['ram|1500',
 'dodge or ram|1500',
 'dodge or ram|challenger',
 'dodge or ram|grand caravan',
 'ram|2500',
 'dodge or ram|charger',
 'dodge or ram|2500',
 'dodge|ram 1500 pickup',
 'dodge or ram|durango',
 'ram|3500',
 'dodge or ram|caravan',
 'dodge or ram|3500',
 'dodge or ram|journey',
 'dodge or ram|ram 1500 pickup',
 'ram|1500 classic',
 'dodge or ram|ram 2500 pickup',
 'dodge|ram 2500 pickup',
 'dodge or ram|dakota',
 'dodge|ram 3500 pickup',
 'dodge or ram|viper',
 'dodge or ram|1500 classic',
 'dodge or ram|dart',
 'dodge or ram|ram',
 'ram|promaster city',
 'dodge or ram|ram 3500 pickup',
 'dodge or ram|caliber',
 'dodge or ram|150',
 'dodge or ram|avenger',
 'dodge|ram',
 'dodge or ram|caravan c/v',
 'dodge or ram|demon',
 'dodge or ram|1/2 ton trucks',
 'dodge or ram|250',
 'dodge or ram|magnum',
 'dodge or ram|promaster cargo van',
 'ram|promaster cargo van',
 'dodge or ram|nitro',
 'dodge or ram|promaster city',
 'dodge|ram van',
 'ram|1500 ecodiesel',
 'ram|150',
 'dodge or ram|srt 10',
 'dodge or ram|ram van',
 'dodge or ram|350',
 'dodge or ram|promaster city wagon',
 'ram|5500 hd chassis',
 'dodge or ram|5500 hd chassis',
 'dodge or ram|stealth',
 'ram|promaster city wagon',
 'dodge or ram|b series van',
 'dodge or ram|daytona',
 'dodge or ram|unspecified',
 'dodge or ram|coronet',
 'dodge or ram|van',
 'ram|promaster',
 'dodge or ram|4500',
 'ram|unspecified',
 'dodge or ram|neon srt-4',
 'dodge or ram|100',
 'ram|250',
 'ram|4500',
 'dodge or ram|super bee',
 'ram|dakota',
 'dodge or ram|300 pickup',
 'dodge or ram|neon',
 'ram|srt 10',
 'dodge|ramcharger',
 'dodge or ram|power ram',
 'dodge or ram|ramcharger',
 'dodge|ram 1500',
 'ram|rebel',
 'dodge or ram|sx 2.0',
 'dodge|rampage',
 'dodge or ram|fargo',
 'dodge or ram|promaster cutaway',
 'ram|350',
 'dodge or ram|vans',
 'dodge or ram|440',
 'ram|promaster cutaway',
 'dodge or ram|trucks',
 'dodge|ram srt-10',
 'dodge or ram|custom 880',
 'dodge or ram|spirit',
 'ram|promaster 2500',
 'dodge or ram|polara',
 'dodge or ram|monaco',
 'dodge or ram|shadow',
 'dodge or ram|rampage',
 'dodge or ram|024',
 'ram|ram c-v',
 'dodge or ram|d series pickup',
 'ram|promaster 1500',
 'dodge|ram+1500+pickup',
 'ram|100',
 'dodge|power ram',
 'jeep|scrambler 4wd',
 'dodge|ram 2500',
 'ram|promaster 3500',
 'dodge or ram|aspen',
 'dodge or ram|wagon',
 'dodge or ram|brothers',
 'dodge|ram 3500',
 'american motors (amc)|rambler',
 'dodge or ram|d series',
 'dodge or ram|ram 4500 cab-chassis',
 'dodge or ram|stratus',
 'dodge or ram|ram 3500 cab-chassis',
 'dodge or ram|600',
 'dodge or ram|aries america',
 'ram|wagon',
 'leer|topper for dodge ram 1500',
 'dodge or ram|ram 1500',
 'ram|ram 3500 cab-chassis',
 'dodge or ram|550',
 'ram|5500',
 'dodge or ram|special deluxe',
 'dodge or ram|50',
 'dodge or ram|m-37',
 'dodge or ram|400',
 'dodge or ram|450',
 'gmc|duramax',
 'ram|ram 4500 cab-chassis',
 'dodge or ram|deluxe',
 'chevrolet|duramax diesel cube van',
 'ram|power wagon',
 'dodge|ram 1500, laramie ram box',
 'jeep|cj-8 scrambler',
 'ram|1500 crew cab',
 'ram|ram 5500 cab-chassis',
 'ram|2500 mega cab',
 'dodge or ram|ram 5500 cab-chassis',
 'ram|1500+classic',
 'dodge or ram|d50',
 'rambler|american',
 'ram|promaster 1500 cargo van',
 'dodge or ram|200 pickup',
 'jeep|scrambler',
 'dodge or ram|ram wagons',
 'holiday rambler|augusta',
 'dodge or ram|promaster window van',
 'dodge|ram 5500 cab-chassis',
 'gmc|c5500 duramax diesel',
 'dodge|ram 1500 5.7 hemi',
 'dodge|ram campwagon',
 'ram|550',
 'rambler|classic',
 'dodge or ram|regent',
 'ram|cargo van',
 'honda|cl 350 scrambler',
 'dodge|ram van b250',
 'gmc|duramax diesel',
 'dodge|ram 5500',
 'ram|promaster window van',
 'holiday rambler|vacationer diesel 34pdd',
 'dodge|ram 4500 cab-chassis',
 'dodge|ram+2500+pickup',
 'ramrod|taskmaster 1150',
 'dodge|ram 50',
 'dodge|ram mega cab',
 'dodge or ram|intrepid',
 'chaloupe|niteram',
 'ram|450',
 'dodge|ram 3500 cab-chassis',
 'chalet|a frame',
 'holiday rambler|ambassador 40skq',
 'dodge or ram|promaster chassis cab',
 'dodge|ram+3500+pickup',
 'ram|50',
 'duramax|diesel',
 'dodge or ram|royal',
 'holiday rambler|ambassador se 38pdq',
 'ram|1500 express black',
 'dodge|ram 1500 regular cab',
 'dodge|ram daytona',
 'dodge or ram|1500 pickup',
 'dodge or ram|diplomat',
 'dodge or ram|ram 2500',
 'dodge|ram wagons',
 'dodge or ram|5500 hd chassis2019',
 'rambler|ambassador',
 'ram|promaster 3500 winnebago',
 'rambler|marlin',
 'ram|d50',
 'dodge|ram 4500',
 'dodge|ram big horn',
 'holiday rambler|endeavor',
 'ram|1500 regular cab',
 'dodge|ram 2500 mega cab',
 'pleasure-way|vrl dodge ram van',
 'chevrolet|c4500 duramax',
 'ram|promaster chassis cab',
 'dodge or ram|5500 hd chassis2012',
 'dodge or ram|1',
 'dodge or ram|5500 hd chassisqc',
 'suzuki|boulevard c50t lehman tramp trike',
 'ram|3500 mega cab',
 'dodge or ram|5500 hd chassis2011',
 'holiday rambler|endeavor-wheelchair accessible',
 'holiday rambler|trip 32pbs',
 'forest river - haulin|7x12 enclosed cargo trailer ramp',
 'ram|3500 hd dump truck 4x4',
 'chevrolet|3500 diesel duramax dompeur',
 'dodge|ram 550',
 'dodge or ram|ram 3500',
 'dodge or ram|5500 hd chassis2008',
 'apache|ramada',
 'holiday rambler|imperial bali iv',
 'holiday rambler|admiral',
 'ram|1500 quad cab',
 'dodge|ram 1500 st quad cab swb 4wd',
 'dodge|ram 1500 trx off road',
 'pleasure-way|dodge ram horizon',
 'dodge|ram+srt-10',
 'dodge ram 350|roadtrek 190 versatile',
 'holiday rambler|ambassador',
 'ram|2500 crew cab',
 'aliner|scout a-frame pop up camper',
 'dodge or ram|colt',
 'dodge or ram|mayfair',
 'dodge|ram 1500 trx4',
 'dodge|ram 5500 pickup',
 'dodge|ram+van',
 'loading ramps|loading ramps',
 'oldsmobile|futuramic',
 'dodge or ram|mirada',
 'ram|2500 regular cab',
 'dodge|ram 2500 4x4 diesel',
 'dodge or ram|dynasty',
 'dodge|ram daytona 1500',
 'holiday rambler|aluma lite 207qb',
 'ram|ram 1500 pickup',
 'holiday rambler|arista',
 'holiday rambler|ambassador 36pbd',
 'ferrari|superamerica',
 'dodge|ram 3500 cummins turbo diesel',
 'dodge|ram srt 10',
 'dodge|ram 1500 slt quad cab swb 4wd',
 'ideal cargo|remorque ideal cargo classic 7x14 ta2 rampe',
 'ram|1',
 'no ramp|u19',
 'holiday rambler|admiral 30sfs',
 'holiday rambler|imperial',
 'holiday rambler|vacationer 36sbt',
 'dodge or ram|3500 pickup',
 'holiday rambler|40skt next level toy hauler',
 'nash|rambler',
 'thor motor coach|miramar',
 'holiday rambler|aluma-lite 29cf',
 'holiday rambler|endeavour',
 'ram|1500 r.cab',
 'ram|new 2500',
 'dodge|ram 50 pickup',
 'dodge|ram 1500 leatherinterior sunroof sport pac',
 'dodge|ram 2500 cab-chassis',
 'dodge|ram 2500 dompeur',
 'dodge|ram 3500 1 ton dually 4x4',
 'a m c|rambler',
 'holiday rambler|augusta sport 210',
 'holiday rambler|neptune 34 pdd',
 'gmc|5500 duramax',
 'dodge|ram 3500 flatbed truck k0118-07',
 'dodge|ram 2500 campwagon',
 'dodge|ram 2500 cummins crewcab diesel 4x4',
 'dodge|ram 350',
 'dodge|ram camper',
 'dodge or ram|3/4 ton trucks',
 'frame kawasaki|kfx700',
 'dodge or ram|5500 hd chassis2017',
 'dodge or ram|5500 hd chassis2016',
 'dodge or ram|5500 hd chassis2009',
 'bertram|flybridge  cruiser',
 'ram|3500 laramie longhorn',
 'thor+motor+coach|miramar+34.2',
 'enduramax by gulf stream|27rth toy hauler',
 'dodge or ram|5500 hd chassis2018',
 'dodge or ram|5500 hd chassis2014',
 'gmc|3500 duramax diesel',
 'GMC|duramax',
 'thor motor coach|miramar 35.2',
 'holiday+rambler|ambassador',
 'gulf stream|enduramax. toy hauler',
 'holiday rambler|admiral 32h',
 'holiday rambler|augusta  235',
 'holiday rambler|augusta 293ts',
 'bsa|b50 scrambler collection',
 'haulmark|-6x12 cargo trailers (ramp)',
 'american+motors+(amc)|rambler',
 'dodge|ram 3500 mega cab',
 'dodge|ram srt-10 viper truck',
 'dodge|ram 5500 slt heavy duty crew cab 4x4 dually',
 'dodge|ram camper van',
 'dodge|ram 150',
 'ram|promaster+city',
 'dodge|ram van 150',
 'audi|a3 2.0t toit panoramique',
 "sled parts|4' sled ez-up ramp",
 'mirage|mxl8.524ta3 cargo trailer with ramp door',
 'tramac|125',
 'triumph|scrambler',
 'holiday rambler|236bhs alumalite',
 'holiday rambler|admiral 30pdd',
 'holiday+rambler|endeavor',
 'holiday rambler|neptune 36 pdq',
 'holiday rambler|endeavor 38pst',
 'thor motor coach|miramar 34.3',
 'hymer|aktiv+2.0+ram+promaster+3500',
 'ram|3500 regular cab',
 'ram|new 3500',
 'ramp master|triple snowmobile trailer',
 'dodge|ram van 2500',
 'dodge|ram 1500 sport reg cab 4wd',
 'laroche|gat 4 x 8 galvanise, rampe remorque utilitaire',
 'ram|ram+c-v',
 'ram|ram promaster cargo van',
 'dodge ram350|pleasure way van',
 'dodge+or+ram|1500',
 'dodge|ram 1500 5.7l hemi',
 'dodge|ram 1500 crew cab 5.7 hemi 4x4',
 'maxi-roule|low66123tg surbaisse, rampe remorque utilitaire',
 'john deere|x500 tracteur a gazon ramasse herbe',
 'hymer|aktiv ram promaster 2500',
 'hymer|aktiv+ram+promaster+2500',
 'ram|1500 st',
 'load trail|gooseneck dump w-8&quot; i-beam frame 14,000 lb!',
 'ram|promaster fourgonnette utilitaire',
 'ram|ram 1500 reg cab 4x4',
 'ram|promaster+city+wagon',
 'ram|promaster+2500',
 'fleetwood folding trlrs.|coleman laramie',
 'ram|frontier',
 'grampian marine ltd|34 center cockpit ketch',
 'grampian|lht',
 'dodge|ram+3500',
 'dodge|ramcl',
 'dodge or ram|camaro',
 'dodge|ram 1500 2wd double cab',
 'dodge|ram 2500 4x4 cummins diesel',
 'dodge or ram|1 ton trucks',
 'dodge or ram|5500 hd chassis2010',
 'dodge or ram|5500 hd chassis2013',
 'dodge or ram|5500 hd chassis2005',
 'pleasure-way|b250 ram',
 'duramach|diesel',
 'ducati|scrambler cafe racer',
 'dynamax|ram promaster 24tb',
 'bmw|r+ninet+scrambler',
 'holiday+rambler|vacationer+xl+340hp+cummins+classe+a',
 'holiday|rambler vacationer xl 34sbd',
 'holiday rambler|neptune 36pdq',
 'holiday rambler|admiral 34sbd',
 'holiday rambler|"34 cg|vacationer"',
 'holiday rambler|36sbt vacationer',
 'holiday rambler|augusta 252ds',
 'haulmark|2015 haulmark 6x10 v-nose cargo trailer w. ramp',
 'holiday rambler|admiral 37pct',
 'holiday rambler|drw',
 'holiday rambler|aluma-lite 31sf3',
 "lightning|5'+x+10'+v-nose+1+essieux+rampe",
 'suzuki|boulevard c50 lehman tramp trike',
 'ram|5500 slt',
 'ram|rav4',
 'ram|ram 2500 pickup',
 'ram|gt-r',
 'ram|3500 pickup',
 'ram|3/4 ton pickups',
 'ram|1500 hemi crew!!!',
 'ram|1500 big horn crew cab 4x4',
 'ram|1/2 ton trucks',
 'rammax|sheepsfoot+packer',
 'ram c|v',
 'polaris|scrambler 850 xtreme performance',
 'roadtrek|simplicity srt ram promaster 2500',
 'roadtrek|simplicity+srt+ram+promaster+2500',
 'rockwood|a122 a-frame',
 'rockwood|a128 a-frame',
 'rockwood|214hw+aframe',
 'bmw|r ninet scrambler',
 'bmw|x1 cuir toit panoramique xdrive',
 'holiday rambler|130 se',
 'holiday rambler|23rb aluma lite',
 'holiday rambler|admiral 29m',
 'homemade|rig ramp - 11x30 ft',
 'holiday rambler|admiral 33sfs',
 'holiday|rambler neptune 40pbq',
 'holiday+rambler|vesta',
 'holiday+rambler|neptune',
 'holiday+rambler|endeavour+40paq',
 'holiday rambler|alumalite',
 'holiday rambler|alumascape',
 'holiday rambler|arista  300',
 'holiday rambler|arista 300',
 'holiday rambler|vacationer',
 'holiday rambler|vacationer 36sb',
 'holiday+rambler|aluma-lite+29cf',
 'gmc|t7500 duramax, allison automatic,hydraulic brakes',
 'Chevrolet|c4500 duramax',
 'cjay|8x16 v-nose cargo trailer with rear ramp door',
 'triumph|street scrambler',
 'triumph|scrambler 900 cassidy',
 'triumph|scrambler 900',
 'tree farmer|c6d longframe',
 "ford|f450 w-16' box & ramp",
 'ducati|scrambler+mach+2.0',
 'e-z hauler|ezec714ta2 silver, v-nose, rampe remorque fermee',
 'ford|e-350 cube van diesel  16 ft  ramp',
 'enduramax sport|27rth toy hauler',
 'dodge or ram|5500 hd chassis2015',
 'dodge or ram|cobalt',
 'dodge or ram|charge',
 'dodge or ram|150a1w0e0',
 'dodge or ram|1 ton chassis-cabs',
 'dodge - okanagan|ram camper van',
 'dodge or ram|250 pickup',
 'dodge or ram|488 spider',
 'dodge or ram|sprint',
 'dodge ram|2500',
 'dodge or ram|frontier',
 'dodge or ram|meuble domon ',
 'dodge or ram|f-150',
 'dodge or ram|grand voyager',
 'dodge|ram 5500 hd',
 'dodge|ram 5500 17ft 6.7l diesel',
 'dodge|ram pleasure way',
 'dodge|ram trx 4x4',
 'dodge|ram 2500  hd',
 'dodge|ram-5500,ram 4500,ram3500,c-5500, gmc c-5500,c5500',
 'dodge|b350 ram',
 'dodge|laramie 4x4',
 'chalet|a-frame',
 'chevrolet|c5500 diesel duramax bas milage',
 'thor motor coach|miramar 34.2',
 'thor+motor+coach|miramar',
 'royal cargo|"6x12 lt | tandem | ramp door | black -tax incl-"',
 'Ram|3500 laramie longhorn',
 'weberlane|ec650 with ramp',
 'thor motor coach|miramar 32.2',
 'suzuki|volusia limited edition lehman tramp trike',
 'amc|rambler',
 'amera-lite|attx610sa+ramp+door',
 'roadtrek|zion srt ram promaster 3500 extended van',
 'trailmobile|drop-frame van',
 'agassiz|7x14 ramp door',
 'continental+cargo|6x10+rambler',
 'continental cargo|7x14 rambler',
 'cjay trailers|cj 7x16 v-nose cargo trailer with rear ramp door',
 'hymer|aktiv 2.0 ram promaster 3500',
 'holiday rambler|alumilite',
 'holiday rambler|34sbd',
 'holiday rambler|187qb',
 'holiday rambler|savoy le',
 'holiday rambler|atlantis',
 'holiday rambler|neptune',
 'holiday rambler|navigator',
 'holiday rambler|imperial 42 plq',
 'holiday rambler|holiday rambler',
 'holiday rambler|ford e450 augusta',
 'holiday rambler|endeavor 40 qsk',
 'holiday rambler|endeavor 38 wds',
 'holiday rambler|augusta sport 25pcs',
 'holiday rambler|augusta m-213 (class c)',
 'holiday rambler|atlantis se',
 'holiday rambler|neptune 38pbd',
 'holiday rambler|traveler 24rbh',
 'holiday rambler|traveler 30qbh',
 'holiday|rambler traveler',
 'holiday|rambler savoy 28 rls',
 'holiday+rambler|endeavour+38n',
 'holiday+rambler|ambassador+se+38pdq',
 'holiday+rambler|ambassador+pdq',
 'holiday rambler|vacationer xl 38 plt',
 'holiday rambler|trip',
 'hino|338-271 26ft van w-level ride gate and ramp',
 'hino|338-271 24ft, lift gate, ramp',
 'hino|155-149, 18ft.van body, ramp, gps, touch screen',
 'chevrolet|brampton',
 'ideal cargo|"7x14-80 remorque| rampe"',
 'hyundai|saused car vramptonnta fe',
 'isuzu|nrr+20ft+5.2l+diesel+++ramp',
 'duramax|Diesel',
 'ducati|scrambler',
 'ducati|scrambler desert sled',
 'ducati|scrambler full throttle',
 'ducati|scrambler sixty2',
 'ducati|scrambler urban enduro',
 'ducati|scrambler urban enduro wild green',
 'ducati|scrambler+desert+sled',
 'dodge|ram truckn',
 'dodge|ram van 1500',
 'dodge|ram b 250',
 'dodge|ram wagon',
 'dodge|ram+5500',
 'dodge|ram 5500 slt 4x4, picker truck',
 'dodge|ram 1500 mega cab',
 'dodge|ram 1500 sport quad cab swb 4wd',
 'dodge|ram 150niagara detetion center0 pickup',
 'dodge|ram 350 custom',
 'dodge|ram 3500 (1 ton) dually',
 'dodge|ram 3500 roadtrek 190',
 'dodge|ram 3500 4wd quad cab lwb drw',
 'dodge|ram 3500 heavy duty crew cab 4x4 dually',
 'dokijijige or ram|ram',
 'e-z hauler|ezec828ta3 blanc, v-nose, rampe, torsion, car h',
 'great west|dodge ram',
 'gmc|duramax+with+2011+camper',
 'gulf stream|enduramax 3912',
 'gulf stream|enduramax 31 mfw',
 'gulfstream|caravanne a sellette garage enduramax 30 mfw (redu',
 'dodge|caravan ram cargo',
 'dodge|b150 ram',
 'dodge pofor ram|ram 1500 pickup',
 'dodge ram|350 dually diesel',
 'dodge%20or%20ram|caravan%20c%2fv',
 'dodge or ram|pacifica',
 'dodge or ram|town & country',
 'dodge or ram|v10',
 'dodge or ram|wrangler',
 'dodge|ram 1500 crew cab laramie',
 'dodge|ram 1500 laramie crew cab 4x4',
 'dodge|ram 1500 4wd mega cab',
 'frame chassis skidoo|mach1 machz ck3 f3 $699.99 nã©gociable',
 'gmc|c5500 duramax',
 'gmc|4500 duramax diesel',
 'dodge or ram|cherokee',
 'dodge or ram|chevy van',
 'dodge or ram|cobra',
 'dodge or ram|cordoba',
 'dodge or ram|discovery',
 'dodge or ram|bronco',
 'dodge or ram|astro',
 'dodge or ram|biscayne',
 'dodge or ram|excursion',
 'dodge or ram|ghostery',
 'dodge or ram|google.ca+1500',
 'gator|remorque low boy 7000 rs avec rangement des rampes',
 'dodge or ram|f-350',
 'dodge or ram|f360',
 'dodge or ram|fiesta',
 'dodge or ram|5500 hd chassis2007',
 'dodge or ram|1/2 ton(please delete)',
 'dodge or ram|1600',
 'doautdge or ram|grand caravan',
 'dodge or ram|200',
 'dodge or ram|5500 hd chassis2006',
 'dodge or ram|4wd compact pickups',
 'dodge or ram|4wd pickups',
 'dodge or ram|411',
 'dodge or ram|3/4 ton pickups',
 'dodge or ram|3hunt chryster500',
 'bertram yachts|bertram 46.6',
 'bergen|atv mini rack ramp trailer',
 'on|brampton',
 'mission trailers|mes101x14dl bleu, 2 rampes, torsion remorque po',
 'mitsubishi fuso|fe180 22.5ft box   ramp',
 'merlo|panoramic 80.9 hm',
 'ram|370z',
 'ram|3502012',
 'ram|3500dually',
 'ram|3500 cummins diesel',
 'ram|3/4 ton chassis-cabs',
 'ram|2500 pickup',
 'ram|2500 limited 8 ft box',
 'ram|2500 hd chassis-cabs',
 'ram|2500 cummins diesel',
 'ram|2500 2018',
 'ram|2014 ram laramie longhorn',
 'ram|5500 4x4, service truck',
 'ram|5500 crew cab diesel service box',
 'ram|ghostery',
 'ram|f-type r',
 'ram|compass',
 'ram|cargo with roof rack',
 'ram|altima',
 'ram|all new 1500',
 'ram|911',
 'ram|1500 laram',
 'ram sport|1500',
 'ram|1500 classic express',
 'ram|1500 black express quad cab 4x4',
 'ram|1500 4rm cabine quad',
 'ram|1/2 ton(please delete)',
 'ram|1 ton trucks',
 'ramrod|s23 rammer',
 'ramrod|drill',
 'ramrod|915',
 'rambler|rm610sa',
 'ram|promaster ckijijiity',
 'ram|promaster+1500',
 'ram|promaster+3500',
 'rc trailer|6x10 ramp door',
 'ram|r8',
 'ram|sport',
 'ram|rs 4',
 'ram|rio5',
 'ram|rio',
 'ram|ridgeline',
 'ram|renegade',
 'ram|ranger',
 'ram|range rover sport',
 'ram|ram c-vdodge',
 'ram|ram 3500 pickup',
 'ram|ram 2500 mega cab 4x4',
 'ram|ram',
 'range rover on|brampton',
 'pleasure-way|dodge ram 3,500',
 'pilgram|cirrus 26crl-5',
 'polaris|scrambler 850',
 'plymouth|ram 1500 pickup',
 'polaris|rampe de chargement caliber pro',
 'land rover|range rover evoque + cuir + toit panoramique',
 'cargo mate|bl712ta2 noir, v-nose, rampe, escape door, usagã\x83â£ã\x86â\x80\x99ã\x83â¢ã\x82â©',
 'cargo express|7x14x78 pro ramp',
 'kenworth|t800 tri-drive with double frame',
 'bws|35ton stepdeck air ramp equipment trailer',
 'bombardier|frame skidoo ck3 mach1 $599.99 faie offre',
 'maxi-roule|gal72144d rampe remorque utilitaire']

In [9]:
df.head(5)

df_top_searched = df[[df['yearMonth','region','dimension59','dimension60','metri1']]]

# # there are some entires with capitalized SearchMake and some in all lowercase, standardize the entries
# df['SearchMake'] = df['SearchMake'].str.lower()
# df['SearchModel'] = df['SearchModel'].str.lower()

# # after standardizing the format, unify the entires
# df=df.groupby(['SearchMake','SearchModel','Region','SearchCity']).agg({"Total_Searches":'sum'}).reset_index()
# df.shape

KeyError: ('yearMonth', 'region', 'dimension59', 'dimension60', 'metri1')

In [4]:
# Get rid of dirty data - SearchMake or SearchModel with multiple sections "|"

df_work = df[(~df.SearchMake.str.contains("\|",regex=True,na=False))|(~df.SearchModel.str.contains("\|",regex=True,na=False))].reset_index(drop=True)
df_work.shape

(1919626, 5)

In [5]:
#

df_work = df_work[(df_work.SearchMake != 'not used') & (df_work.SearchModel != 'not used')&(df_work.SearchCity != '(not set)')]
df_work.shape

(1398659, 5)

In [6]:
df_work = df_work.sort_values(by='Total_Searches',ascending=False).reset_index(drop=True)

#longer version
#df_work = df_work.sort_values(by='Total_Searches',ascending=False).reset_index(index=)
#df_work.drop('index',axis=1,inplace=True)

df_work.shape

(1398659, 5)

In [7]:
# code to look for provinces from the list
list_of_region = df.Region.unique().tolist()
[x for x in list_of_region if 'New B' in x]

['New Brunswick', 'West New Britain Province']

In [8]:
##### Useful code if you want to filter out non Canadian nor non American cities


canada = ['British Columbia','Alberta','Saskatchewan','Manitoba','Ontario','Quebec','Newfoundland and Labrador',
          'Nova Scotia','Prince Edward Island','New Brunswick','Nunavut','Northwest Territories','Yukon']

#america = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
#  "Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
#  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
#  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
#  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
#  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
#  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
#  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

#df_work = df[(df.Region.isin(canada))|(df.Region.isin(america))] #filter the list by Canadian provinces
#df_work.shape

In [9]:
#Group 'Maritimes' and Territories and American States into 'Other'
Maritimes = ['Newfoundland and Labrador','Nova Scotia','Prince Edward Island','New Brunswick']
Provinces = ['British Columbia','Alberta','Saskatchewan','Manitoba','Ontario','Quebec']

In [10]:
df_work.loc[df_work.Region.isin(Maritimes),'Province'] = 'Maritimes' #Assign Maritimes
df_work.loc[df_work.Region.isin(Provinces),'Province'] = df_work.Region
df_work['Province'].fillna('Others', inplace=True) #If all else, assign "Others"

### Alternative code based on if-else format
#df['name_match'] = df['First_name'].apply(lambda x: 'Match' if x == 'Bill' else 'Mis-Match')

#Try using .loc[row_indexer,col_indexer] = value instead
#https://www.dataquest.io/blog/settingwithcopywarning/

In [11]:
#Check to see if it's working

#df_work[df_work.Province.notnull()]
#df_work[df_work['Province'] == 'Alberta']
#df_work[(df_work['Province']!='Others')&(df_work['Province']!='Maritimes')].head(100)

In [12]:
# code to look for provinces from the list
list_of_city = df_work[df_work['Province']!='Others'].SearchCity.unique().tolist()
[x for x in list_of_city if 'Drayton Valley' in x]

['Drayton Valley']

In [13]:
df_work.shape

(1398659, 6)

In [14]:
###############################################################################

In [15]:
#del df_summary
df_summary = df_work.groupby("Province").agg({"Total_Searches":'sum'})
df_summary= df_summary.sort_values(by='Total_Searches',ascending=False).reset_index(drop=True)

df_summary['Province'] = df_work("Province")
df_summary['% of Total'] = (df_summary['Total_Searches']/ df_summary['Total_Searches'].sum()*100)
df_summary.loc['Total',:] = df_summary.sum().values


df_summary

### Alternative
#table['% of Total'] = (table.C / table.C.sum() * 100)
#table['% of B'] = (table.C / table.groupby(level=0).C.transform(sum) * 100)
#table.loc['total', :] = table.sum().values

#https://stackoverflow.com/questions/37148787/pandas-pivot-table-percent-calculations

       Total_Searches  % of Total
0          25393305.0   54.349163
1           8078830.0   17.291079
2           5494081.0   11.758954
3           4079673.0    8.731704
4           1485176.0    3.178715
5            918036.0    1.964868
6            711447.0    1.522706
7            561984.0    1.202812
Total      46722532.0  100.000000

In [16]:
canadian_cities = pd.read_csv('data_canadian_cities.csv')
canadian_cities.drop('location',axis=1,inplace=True)

canadian_cities.loc[canadian_cities['population']>= 200000,'Category'] = 'Metro'
canadian_cities.loc[(canadian_cities['population']>=50000)&(canadian_cities['population']<200000),'Category'] = 'Mid'
canadian_cities['Category'].fillna('Rural', inplace=True) #If all else, assign "Rural"


#canadian_cities.loc[(canadian_cities['population']>=50000) and (canadian_cities['population']<200000),'Category'] = 'Mid'
#canadian_cities['Category'].fillna('Rural', inplace=True) #If all else, assign "Others"

#canadian_cities[canadian_cities['Category']=='Rural'].sort_values(by='population',ascending=False)

In [17]:
canadian_cities.loc[canadian_cities.duplicated(subset=['asciiname'],keep=False), :]

#As you can see there are two entries of the same asciiname, drop first then merge

            asciiname  population Category
204  Sainte-Catherine       16762    Rural
210  Sainte-Catherine       16211    Rural

In [18]:
canadian_cities.drop([210],inplace=True)
df_work2 = pd.merge(df_work,canadian_cities, left_on ='SearchCity',right_on='asciiname',how='left')
df_work2.shape

(1398659, 9)

In [19]:
df_work2[df_work2.Category.isnull()].Total_Searches.sum()/df_work2.Total_Searches.sum()
# nearly 10% of total searches are dropped from Category

0.09202037680663368

In [20]:
df_work2[(df_work2.Category.isnull())&(df_work2.Province!='Others')].Total_Searches.sum()/df_work2.Total_Searches.sum()
# nearly 6% of total searches from non-Other Provinces are dropped from Category

0.06201887774404007

In [21]:
### pick cities with more than 20,000 searches
list_prep = df_work2[(df_work2.Category.isnull())&(df_work2.Region.isin(canada))]
list_prep = list_prep.iloc[: , [3,4,5,8]]
list_prep = list_prep.groupby(['SearchCity','Province']).agg({"Total_Searches":'sum'}).sort_values(by=['Total_Searches'],ascending=False).reset_index()

#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
#    print(list_prep)

In [22]:
list_prep.describe()

       Total_Searches
count      417.000000
mean      6959.258993
std      19389.546183
min          1.000000
25%        660.000000
50%       1757.000000
75%       4616.000000
max     177576.000000

In [23]:
list_prep = list_prep[list_prep['Total_Searches']>18000].reset_index() 
# make sure reset_index or groupby columns (Province, SearchCity) won't appear!!
list_prep = list_prep['SearchCity'].tolist()

#list_of_additional_cities
#for col in list_of_additional_cities.columns: 
#    print(col) 

df_work2.loc[df_work2['SearchCity'].isin(list_prep),'Category'] = 'Mid'
df_work2['Category'].fillna('Rural', inplace=True)

df_work2.shape

(1398659, 9)

In [24]:
#check to see any error values
df_work2[df_work2.Category.isnull()].shape

(0, 9)

In [25]:
df_final = df_work2.drop(['Region','SearchCity','asciiname','population'], axis=1)
#df_final.to_csv('result.csv')
df_final = df_final.groupby(['Province','Category','SearchMake','SearchModel']).agg({"Total_Searches":'sum'}).sort_values(by=['Total_Searches'],ascending=False).reset_index()
df_final.shape

(368069, 5)

In [26]:
df_final.to_csv('result.csv',index=False)

In [27]:
frames = {i:dat for i, dat in df_final.groupby(['Province','Category'])}

In [28]:
frames['Ontario','Metro'].head(5)

  Province Category     SearchMake SearchModel  Total_Searches
0  Ontario    Metro            bmw    3 series          342425
1  Ontario    Metro           ford     mustang          304794
2  Ontario    Metro          honda       civic          301238
3  Ontario    Metro  mercedes-benz     c-class          268657
4  Ontario    Metro            bmw           m          233715

In [29]:
df_dir = df_work2.drop(['SearchMake','SearchModel','Region','Total_Searches','population'], axis=1).drop_duplicates()
#df_dir.drop_duplicates()
df_dir_list = df_dir.SearchCity[(df_dir.Category !='Rural')&(df_dir.Province=='Ontario')].reset_index(drop=True)
df_dir_list.to_csv('result.csv',index=False)

C:\Users\skato\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  after removing the cwd from sys.path.

In [30]:
#import csv

#frames = {i:dat for i, dat in df_final.groupby('Province')}

# with open('dict.csv', 'w') as csv_file:
#     writer = csv.writer(csv_file)
#     for key, value in frames.items():
#        writer.writerow([key, value])

In [31]:
# len(list_of_province)

#### SQL Lesson - always check there is no duplicate entry in joining tables!<br>
When I left joined df_work and canadian_cities (reference file) using df_work as the base table, row number increased from <br>
<br>
row # for df_work = 1,878,733 <br>
row # for canadian_cities = 400 <br>
<br>
Theoretically, row# for df_work2 should be same as df_work (because left joint), but df_work2 = 1,880,685<br>
1952 more rows in df_work2 than df_work!!!<br>
<br>
Two approaches were taken<br>
1. Check # of rows where [SearchCity] = isnull & [asciiname] = notnull - 67 rows <br>
df_work2[(df_work2['SearchCity'].isnull())&(df_work2['asciiname'].isnull())].shape<br><br>
2. Check for duplicates from reference table - 1 duplicate found on canadian_cities <br>
canadian_cities.loc[canadian_cities.duplicated(subset=['asciiname'],keep=False), :] <br>
<br>As you can tell from below, population number is different! manually delete one of the two!
<br><br>
The duplicated entry from canadian_cities created 1952 duplicated entries on df_work2 once joined<br>
df_work2.loc[df_work2.SearchCity =='Sainte-Catherine'].drop_duplicates(keep=False)